{% extends "base.html" %}
{% block index %}

  <h1></h1>

  <h4>Which came first? </h4>

  <ul>
    <button id="event1" class="event1" value={{ content.event1["year"] }} onclick="display_event1()"> {{ content.event1["description"] }} </button><bold id="year1"></bold><br>
    <button id="event2" class="event2" value={{ content.event2["year"] }} onclick="display_event2()"> {{ content.event2["description"] }} </button><bold id="year2"></bold><br>
  </ul>

  <div id="result" class="result"></div><br>

  <input type="button" value="Next Question" onClick="window.location.reload()">

{% endblock %}
